.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  height: 10%;
  min-height: fit-content;
  background-color: #24263b;
  // background-image: url("../home/background.jpg");

  .profile-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      .col-icon {
        i {
          color: white;
          padding: 7px;
          transform: scale(2);
        }
      }
      .col-icon i:hover {
        font-size: 30px;
        transition: 0.2s ease-out;
      }
    }
  }

  .profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
  }

  .profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
    .primary-text {
      color: var(--white);
      .highlighted-text {
        color: var(--dark--orange);
      }
    }
    h1 {
      font-size: 40px;
      font-family: cursive;
    }
  }

  .profile-role-tagline {
    font-size: 19px;
    margin: 15px 0 0 0;
    font-family: "Poppins Light";
  }

  .profile-options {
    margin-top: 20px;
    .highlighted-btn {
      margin: 0px 0 0 28px;
    }
    .highlighted-btn:hover {
      background-color: cornsilk;
      color: #111;
    }
  }
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0px;
    .profile-picture-background {
      border-radius: 50%;
      height: 92%;
      width: 92%;
      background-image: url("../home/profilephoto.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: 1s ease-out;
    }
    .profile-picture-background:hover {
      transform: scale(1.07);
      background-position: center;
      transition: 1s ease-out;
    }
  }
}

// @media (max-width: 1110px) {
//   .profile-picture {
//     margin: 0 0 0 80px;
//   }
//   .profile-details-name {
//     font-size: 20px;
//   }
//   .profile-detail-role {
//     .primary-text {
//       font-size: 12px;
//     }
//   }

//   .profile-picture-background {
//     // display: none;
//   }
// }

@media (max-width: 1020px) {
  .profile-parent {
    flex-direction: column-reverse;
    .profile-picture {
      margin: 20px 0 15px 0;
    }
  }
}
@media (max-width: 600px) {
  .profile-parent {
    .profile-picture {
      margin: 20px 0 20px 0;
      width: 200px;
      height: 200px;
    }

    .typical {
      p {
        font-size: 20px;
      }
    }
    .profile-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        width: 100%;
      }
      a {
        margin-top: 20px;
        width: 100%;
        .highlighted-btn {
          margin: 0px 0 0 0px;
        }
      }
    }
  }
}
